<section id="experiencia">
  <!--ttulo e iconos-->
  <h1>
     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
      class="bi bi-arrow-up-right-square-fill" viewBox="0  16 16">
      <path
        d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
      </svg>EXPERIENCIA:
      <button class="btn1" data-bs-toggle="modal" data-bs-target="#experienciaModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
          viewBox="0 0 16 16">
          <path
            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
        </svg>
      </button>
      <button class="btn1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill"
          viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
        </svg>
      </button>
  </h1>
  <br />
  <ul>
    <li *ngFor="let experiencia of experienciaList">
      <div class="container-fluid">
        <div class="row">
          <div data-aos="fade-right" class="col-2">
            <img [src]="experiencia.img" class="img-fluid" alt="" />
          </div>
          <div data-aos="fade-right" class="col-10">
            <h2>
              <kbd>{{experiencia.puesto }}</kbd>
              <br>
            </h2>

            <h3>
              {{ experiencia.empresa }}
              <p>
                <br>
                <time>{{ experiencia.desde }}</time> -
                <time>{{ experiencia.hasta }}</time>
              </p>
            </h3>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <!-- Modal formulario y validaciones -->
  <div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="mb-3">
              <label for="puesto" class="form-label">Puesto</label>
              <input type="text" class="form-control" id="school" formControlName="puesto" />
              <div *ngIf="puesto?.invalid && (puesto?.dirty || puesto?.touched)" class="alert">
                <div *ngIf="puesto?.errors?.['required']" class="text-danger">
                  Puesto es requerida.
                </div>
              </div>
              <div class="mb-3">
                <label for="empresa" class="form-label">Empresa</label>
                <input type="text" class="form-control" id="career" formControlName="empresa" />
                <div *ngIf="empresa?.invalid && (empresa?.dirty || empresa?.touched)" class="alert">
                  <div *ngIf="empresa?.errors?.['required']" class="text-danger">
                    Empresa es requerida.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="desde" class="form-label">Desde</label>
                  <input type="date" class="form-control" id="start" formControlName="desde" />
                  <div *ngIf="desde?.invalid && (desde?.dirty || desde?.touched)" class="alert">
                    <div *ngIf="desde?.errors?.['required']" class="text-danger">
                      Desde es requerida.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="hasta" class="form-label">Hasta</label>
                    <input type="date" class="form-control" id="end" formControlName="hasta" />
                    <div *ngIf="hasta?.invalid && (hasta?.dirty || hasta?.touched)" class="alert">
                      <div *ngIf="hasta?.errors?.['required']" class="text-danger">
                        Hasta es requerida.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="img" class="form-label">Link logo</label>
                      <input type="link" class="form-control" id="img" formControlName="img" />
                      <div *ngIf="img?.invalid && (img?.dirty || img?.touched)" class="alert">
                        <div *ngIf="img?.errors?.['required']" class="text-danger">
                          Url de la imagen es requerida.
                        </div>
                        <div *ngIf="img?.errors?.['pattern']" class="text-danger">
                          El formato de la Url no es valido.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--boton cerar salir-->
        <div class="modal-footer">
          <button type="button" id="cerrarModalExperiencia" class="btn btn-secondary" data-bs-dismiss="modal">
            Salir
          </button>
          <button type="button" class="btn btn-primary" (click)="guardarExperiencia()">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
