<section class="a">
  <div class="section-title">
    <br>
    <h2 id="titulo"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-arrow-up-right-square-fill" viewBox="0  16 16">
        <path
          d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
      </svg> HABILIDADES BLANDAS</h2>
    <p>Disfruto trabajar con el código, soy capaz de adaptarme a un grupo colaborativo, y sobre todo, tengo ganas de
      aportar y crecer constantemente! Soy prolijo con mi trabajo y me esfuerzo en entregar lo mejor de mi.
      Me gusta trabajar en entornos donde la metodologia prioriza el valor humano,y la comunicación con el equipo.
      Quiero sumar experiencia y aportar para generar valor al proyecto.
    </p>
  </div>
  <section id="progresBar">
    <div class="container cont" data-aos="fade-up" data-aos-delay="100">
      <div class="card">
        <div class="box">
          <div>
            <div class="percent">
              <svg class="sv">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>100<span>%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="text">EMPATIA</div>
      </div>
      <div class="card">
        <div class="box">
          <div>
            <div class="percent">
              <svg class="sv">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>95<span>%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="text">CREATIVIDAD</div>
      </div>
      <div class="card">
        <div class="box">
          <div>
            <div class="percent">
              <svg class="sv">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>95<span>%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="text">MOTIVACION</div>
      </div>
      
      <div class="card">
        <div class="box">
          <div>
            <div class="percent">
              <svg class="sv">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>85<span>%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="text">CURIOSIDAD</div>
      </div>
      <div class="card">
        <div class="box">
          <div>
            <div class="percent">
              <svg class="sv">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>97<span>%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="text">COLABORACIÓN</div>
      </div>
    </div>
  </section>
</section>
