/*
.baner img{
  display: flex;
    padding: 0px;
    padding-top: 7px;
  width: 100%;
  border-radius: 0px;


}
.contenedor{
 
  display: flex;
  flex-wrap: wrap;
  position: relative;

  text-align: center;


}

.centrado{
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  font-size: 150%;

text-shadow: rgb(62, 160, 224) 0 -1px 4px, rgb(80, 150, 207) 0 -2px 10px, #0059ff 0 -10px 20px, rgb(0, 132, 255) 0 -18px 40px;
color:aliceblue;
font-weight:normal

}
.centrado span{
 font-size: 32px;
  
  color:rgb(96, 170, 240)
}
.contenedor .btn{
    position: absolute;
    top: 35%;
    left: 15%;
    
}*/


.text {
 
  text-shadow: rgb(48, 53, 56) 0 -1px 4px, rgb(80, 150, 207) 0 -2px 10px, #0059ff 0 -10px 20px, rgb(0, 132, 255) 0 -18px 40px;
  color: aliceblue;
  margin-top: 259px;
  padding-left: 127px;
}

.btn-edit {
  padding-left: 187px;

}

.editar {

  color: #fafafa;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
}

.editar:hover {
  color: rgb(93, 186, 240);
}





#parallax-image {
  display: flex;
  padding: 0px;
  padding-top: 7px;
  width: 100vw;
  background-image: url(../../../assets/BANNER.jpg);
  height: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 50px
}

