<section>
    <h1 class="container "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-right-square-fill" viewBox="0  16 16">
        <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
      </svg> PORFOLIO</h1>
    <h2>Duiseños realizados para redes sociales de empresas y emprendedores</h2>
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>

    </div>
  
    <!-- The slideshow/carousel -->
    <div  class="carousel-inner ">
      <div class="carousel-item active ">
        <div  class="row m-3 ">
            <div  data-aos="fade-up"  class="col-lg-2 mb-4 ">  
               <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1">     
                <img class="w-100 mb4 rounder" src="/assets/gallery/a.jpg" alt=""></a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage2"> 
                <img class="w-100 mb4 rounder" src="/assets/gallery/1.jpg" alt=""> </a>
            </div>
            <div data-aos="fade-down"  class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage3"> 
                <img class="w-100 mb4 rounder" src="/assets/gallery/2.jpg" alt=""> </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage4"> 
                <img class="w-100 mb4 rounder" src="/assets/gallery/b.jpg" alt=""></a>
            </div>
            
            <div data-aos="fade-up" class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage5"> 
                <img  class="w-100 mb4 rounder"src="/assets/gallery/c.jpg" alt=""></a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage6"> 
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.jpg" alt=""> </a>
            </div>
            <div data-aos="fade-down"class= "col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage8">    
                <img class="w-100 mb4 rounder" src="/assets/gallery/4.jpg" alt=""> </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage7">    
                 <img class="w-100 mb4 rounder" src="/assets/gallery/e.jpg" alt=""></a>
             </div>
             <div data-aos="fade-up"class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage9">    
                 <img class="w-100 mb4 rounder" src="/assets/gallery/5.jpg" alt=""></a>
                 <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage10">  
                 <img class="w-100 mb4 rounder" src="/assets/gallery/f.jpg" alt="">
            </a> </div>
            <div data-aos="fade-down" class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage11">    
                 <img class="w-100 mb4 rounder" src="/assets/gallery/i.jpg" alt=""></a>
                 <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage12">  
                 <img class="w-100 mb4 rounder" src="/assets/gallery/6.jpg" alt="">
            </a> </div>
             
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content" >
                    <img src="/assets/gallery/a.jpg"  alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage3">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/2-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage2">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/1-max.jpg" alt="">
                </div>
            </div>
        </div>
     
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage4">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/b-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage5">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/c-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage6">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/3-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage7">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/e-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage8">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/4-max.jpg" alt="">
                </div>
            </div>
        </div>
  
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage9">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content" >
                    <img src="/assets/gallery/5.jpg"  alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage10">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content" >
                    <img src="/assets/gallery/f-max.jpg"  alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage11">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content" >
                    <img src="/assets/gallery/i.jpg"  alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage12">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content" >
                    <img src="/assets/gallery/6.jpg"  alt="">
                </div>
            </div>
        </div>
      </div>

      <!--2do carrousel-->
      <div class="carousel-item">
        <div class="row m-3">
            <div data-aos="fade-up" class="col-lg-2 mb-4">
               <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage13">     
                <img class="w-100 mb4 rounder" src="/assets/gallery/g.jpg" alt=""></a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage14">     
                <img class="w-100 mb4 rounder" src="/assets/gallery/7-min.jpg" alt=""> </a>
            </div>

            <div data-aos="fade-down" class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage15">   
                <img class="w-100 mb4 rounder" src="/assets/gallery/8.jpg" alt=""> </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage16">  
                <img class="w-100 mb4 rounder" src="/assets/gallery/h.jpg" alt=""></a>
            </div>
            
            <div data-aos="fade-up" class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage17"> 
                <img  class="w-100 mb4 rounder"src="/assets/gallery/j.jpg" alt=""></a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage18"> 
                <img class="w-100 mb4 rounder" src="/assets/gallery/9.jpg" alt=""> </a>
            </div>
            <div data-aos="fade-down"  class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage19">    
                 <img class="w-100 mb4 rounder" src="/assets/gallery/10.jpg" alt=""></a>
                 <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage20">   
                 <img class="w-100 mb4 rounder" src="/assets/gallery/q.jpg" alt=""></a>
             </div>
             <div data-aos="fade-up"  class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage21">  
                 <img class="w-100 mb4 rounder" src="/assets/gallery/11.jpg" alt=""></a>
                 <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage22"> 
                 <img class="w-100 mb4 rounder" src="/assets/gallery/l.jpg" alt=""></a>
             </div>
             
             <div data-aos="fade-down"  class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage23">  
                 <img  class="w-100 mb4 rounder"src="/assets/gallery/k.jpg" alt=""> </a>
                 <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage24">  
                 <img class="w-100 mb4 rounder" src="/assets/gallery/12.jpg" alt=""> </a>
             </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage13">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/g-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage14">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/7.jpg" alt="">
                </div>
            </div>  
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage15">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/8-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage16">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/h-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage17">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/j-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage18">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/9-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage19">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/10-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage20">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/q-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage21">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/11-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage22">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/l-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage23">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/k-max.jpg" alt="">
                </div>
            </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage24">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/12-max.jpg" alt="">
                </div>
            </div>
        </div>
        
        
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  

  <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="/assets/gallery/a.jpg" alt="">
        </div>
    </div>
    </div>

</section>