<!--<section>
    <h1 class="container mt-5 "> Lanin extremo</h1>
<div class="row m-3">
    <div class="col-lg-2 mb-4">
       <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1"> 
           
        <img class="w-100 mb4 rounder" src="/assets/gallery/a.png" alt="">
        <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt=""></a>
    </div>
    <div class="col-lg-2 mb-4">
        <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
        <img class="w-100 mb4 rounder" src="/assets/gallery/b.png" alt="">
    </div>
    
    <div class="col-lg-2 mb-4">
        <img  class="w-100 mb4 rounder"src="/assets/gallery/b.png" alt="">
        <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
    </div>
    <div class="col-lg-2 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1"> 
            
         <img class="w-100 mb4 rounder" src="/assets/gallery/a.png" alt="">
         <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt=""></a>
     </div>
     <div class="col-lg-2 mb-4">
         <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
         <img class="w-100 mb4 rounder" src="/assets/gallery/b.png" alt="">
     </div>
     
     <div class="col-lg-2 mb-4">
         <img  class="w-100 mb4 rounder"src="/assets/gallery/b.png" alt="">
         <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
     </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="/assets/gallery/3.png" alt="">
        </div>
    </div>


</div>


</section>-->
<section>
    <h1 class="container mt-5 "> Lanin extremo</h1>
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row m-3">
            <div class="col-lg-2 mb-4">
               <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1"> 
                   
                <img class="w-100 mb4 rounder" src="/assets/gallery/a.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt=""></a>
            </div>
            <div class="col-lg-2 mb-4">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/b.png" alt="">
            </div>
            
            <div class="col-lg-2 mb-4">
                <img  class="w-100 mb4 rounder"src="/assets/gallery/b.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
            </div>
            <div class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1"> 
                    
                 <img class="w-100 mb4 rounder" src="/assets/gallery/a.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt=""></a>
             </div>
             <div class="col-lg-2 mb-4">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/b.png" alt="">
             </div>
             
             <div class="col-lg-2 mb-4">
                 <img  class="w-100 mb4 rounder"src="/assets/gallery/b.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
             </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/3.png" alt="">
                </div>
            </div>
        
        
        </div>
        
      </div>
      <div class="carousel-item">
        <div class="row m-3">
            <div class="col-lg-2 mb-4">
               <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1"> 
                   
                <img class="w-100 mb4 rounder" src="/assets/gallery/a.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt=""></a>
            </div>
            <div class="col-lg-2 mb-4">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/b.png" alt="">
            </div>
            
            <div class="col-lg-2 mb-4">
                <img  class="w-100 mb4 rounder"src="/assets/gallery/b.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
            </div>
            <div class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1"> 
                    
                 <img class="w-100 mb4 rounder" src="/assets/gallery/a.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt=""></a>
             </div>
             <div class="col-lg-2 mb-4">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/b.png" alt="">
             </div>
             
             <div class="col-lg-2 mb-4">
                 <img  class="w-100 mb4 rounder"src="/assets/gallery/b.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
             </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/3.png" alt="">
                </div>
            </div>
        
        
        </div>
        
      </div>
      <div class="carousel-item">
        <div class="row m-3">
            <div class="col-lg-2 mb-4">
               <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1"> 
                   
                <img class="w-100 mb4 rounder" src="/assets/gallery/a.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt=""></a>
            </div>
            <div class="col-lg-2 mb-4">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/b.png" alt="">
            </div>
            
            <div class="col-lg-2 mb-4">
                <img  class="w-100 mb4 rounder"src="/assets/gallery/b.png" alt="">
                <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
            </div>
            <div class="col-lg-2 mb-4">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1"> 
                    
                 <img class="w-100 mb4 rounder" src="/assets/gallery/a.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt=""></a>
             </div>
             <div class="col-lg-2 mb-4">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/b.png" alt="">
             </div>
             
             <div class="col-lg-2 mb-4">
                 <img  class="w-100 mb4 rounder"src="/assets/gallery/b.png" alt="">
                 <img class="w-100 mb4 rounder" src="/assets/gallery/3.png" alt="">
             </div>
        </div>
        <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <img src="/assets/gallery/3.png" alt="">
                </div>
            </div>
        
        
        </div>
        
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  

  <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="/assets/gallery/3.png" alt="">
        </div>
    </div>
    </div>

</section>